<!DOCTYPE html>
<html>
  <head>
    <title>Records</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <row>
      <div class="menu col-md-2">
        <ul>
          <li><a>Аналитика</a></li>
          <li><a>Учет</a></li>
          <li><a>Настройки</a></li>
        </ul>
      </div>
      <div class="col-md-10">
        <%= yield %>
      </div>
    </row>
  </body>
</html>
